
.infoCard {
	z-index: 888;
	position: absolute;
	left: 30px;
	top: 30px;
}

.cardContainer {
	display: flex;
	flex-direction: row;
}

.alertsCard, .portfolioCard, .metricsCard {
	 background: -moz-linear-gradient(top, #1a1c50 21%, #050610 100%);
	 background: -webkit-linear-gradient(top, #1a1c50 21%,#050610 100%);
	 background: linear-gradient(to bottom, #1a1c50 21%,#050610 100%);
	/*background-color: "#1A1C50";*/
	/*backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);*/
	box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.45);
	border-radius: 8px;
	font-family: 'Gotham';
	color: #fff;
	height: 340px;
	width: 170px;
	display: flex;
	flex-direction: column;
}

.metricsCard {
	z-index: 999;
}

.portfolioCard {
	z-index: 998;
	margin-left: -140px;
}

.alertsCard {
	z-index: 997;
	margin-left: -140px;
}


.cardBody {
	padding: 1em;
}

.cardHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 0.7em 0.7em 1em 1em;
}

.headerBtn {
	cursor: pointer;
	margin-top: -18px;
}

.cardTitle {
	cursor: pointer;
	max-width: 180px;
	font-size: 1em;
	font-weight: bold;
	/* padding-bottom: 20px; */
	font-family: 'Gotham';
	/*transform-origin: right top 0;
	transform:rotate(90deg);
	transform: translateY();*/
	writing-mode: vertical-lr;
}

.cardTitleOpen {
	cursor: pointer;
	max-width: 180px;
	font-size: 1em;
	font-weight: bold;
	/* padding-bottom: 20px; */
	font-family: 'Gotham';
	align-self: flex-start;
}

.cardBody {
	display: flex;
	flex: 4;
	flex-direction: column;
	justify-content: flex-end;
}

.row {
	padding: 0.5em 0 0.5em 0;
	/*border-top: 0.5px;
	border-top-style: solid;
	border-color: lightGrey;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list {
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	flex: 1;
}
/* For now */
.portfolio {
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.textLeft,
.textRight {
	font-size: 0.8em;
}

.textLeft {
	padding-right: 1em;
	font-weight: 500;
}

.value {
	font-size: 0.6em;
	padding-left: 1em;
}

.form {
	font-family: 'Gotham';
	display: flex;
	flex: 3;
	flex-direction: column;
	justify-content: space-between;
}

.field:not(:last-child) {
	margin-bottom: 0.5em;
}

.label {
	font-size: 0.6em;
	font-weight: 500;
}

.control {
	margin-top: 0.5em;
	font-size: 0.8em;
	position: relative;
	text-align: left;
}

.input {
	display: inline-flex;
	align-items: center;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #00CEFF;
	color: #fff;
	font-weight: bold;
	/*border-radius: 4px;*/
	/*border-color: #dbdbdb;*/
	height: 2.3em;
	padding: 0.375em 0.625em 0.375em 0;
	width: 100%;
	justify-content: flex-start;
	line-height: 1.5;
	/*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);*/
}

.input:focus {
	outline: none;
	border-radius: 4px;
	border: 2px solid #00CEFF;
}
textarea {
	color: #fff;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

input[type="datetime-local"] {
	font-family: 'Gotham'
}

.select {
	display: inline-block;
	height: 2em;
	max-width: 100%;
	position: relative;
	vertical-align: top;
}

.select::after {
		border: 1px solid #00CEFF;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 4;
}

.select select {
		moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: 2.5em;
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: transparent;
    /*border-color: black;*/
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
}

.btnContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.alertContainer {
	padding: 0.5em 0 0.5em 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.alertLabel {
	font-weight: 500;
	font-size: 0.8em;
}

.alertPrice {
	color: #14FF00;
	font-size: 0.8em;
}
