.fullSize {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.nav {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}

.container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
}

.brand {
	font-family: 'Gotham';
	font-weight: bold;
	font-size: 2.5em;
	color: #000;
	line-height: 1em;
	margin-left: 1em;
}

.button {
	margin: auto;
}

.infoCard {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}

.selectCard {
	display: flex;
	flex: 1;
	/*position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;*/
}
