.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(
    to top,
    black 75%,
    rgba(255, 0, 0, 0)
    );*/
  background-color: black;
  padding-bottom: 1em;
  padding-top: 1em;

}

.list {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  font-family: 'Gotham';
  font-size: 0.75em;
  line-height: 1.35em;
}

::-webkit-scrollbar {
      display: none;
   }

.activeItem {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

.label {
  padding: 0.5em;
  cursor: pointer;
  user-select: none;
}

.item:not(:last-child) {
  margin-right: 0.8em;
}

.radioBtn {
  display: none;
}

.arrowBtn {
  cursor: pointer;
  padding: 0.5em;
}

.id {
  font-weight: bold;
}

.pChange {
  color: #1BB900;
}

.nChange {
  color: #B90000;
}

.leftInfo,
.rightInfo {
  font-family: 'Gotham';
  font-weight: bold;
  font-size: 2.5em;
  color: white;
  padding: 0 1em 0 1em;
}

.select {
	display: inline-block;
	/*height: 3em;*/
	max-width: 100%;
	position: relative;
	vertical-align: top;
}

.select select {
		moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*font-size: 1rem;*/
    /*height: 2.25em;*/
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /*line-height: 1.5;*/
    /*padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: 2.5em;
    padding-top: calc(0.375em - 1px);*/
    position: relative;
    vertical-align: top;
    background-color: black;
    /*border-color: black;*/
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: bold;
    max-width: 100%;
    outline: none;
}
