.fullSize {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*background-color: #191B4E;*/
	/*background: -webkit-linear-gradient(top, #1a1c50 71%,#050610 100%);
	background: linear-gradient(to bottom, #1a1c50 71%,#050610 100%);*/
	background: -webkit-linear-gradient(top, #050610 0%,#1a1c50 20%,#1a1c50 71%,#050610 100%);
	background: linear-gradient(to bottom, #050610 0%,#1a1c50 20%,#1a1c50 71%,#050610 100%);
}

.center {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ball {
	background-color: rgba(0,0,0,0);
  border:5px solid white;
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin .5s infinite linear;
	-webkit-animation:spin .5s infinite linear;
}

.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid white;
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-40px;
	-moz-animation:spinoff .5s infinite linear;
	-webkit-animation:spinoff .5s infinite linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

.nav {
	position: absolute;
	top: 20px;
	/*left: 0;*/
	right: 0;
	z-index: 777;
}

.nav-container {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: center;
	margin: 0.5em 4em 0.5em 0;
}

.brand {
	font-family: 'Gotham';
	font-weight: bold;
	font-size: 3.5em;
	color: #fff;
	line-height: 1em;
	text-align: right;
}

.hello {
	font-family: 'Gotham';
	font-size: 1em;
	color: #fff;
	text-align: right;
}

.signOut {
	font-family: 'Gotham';
	font-size: 1em;
	color: #95989A;
	cursor: pointer;
	line-height: 2em;
	text-align: right;
}
